/* Importação da fonte */
@font-face {
  font-family: "Gilroy-Bold", sans-serif;
  src: url("../assets/fonts/Gilroy-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy-Semibold", sans-serif;
  src: url("../assets/fonts/Gilroy-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy-Medium", sans-serif;
  src: url("../assets/fonts/Gilroy-Medium.ttf") format("ttf");
  font-weight: 500;
}

:root {
  /* ---------- Tipografia ---------- */
  --font-family-bold: "Gilroy-Bold", sans-serif;
  --font-family-semibold: "Gilroy-Semibold", sans-serif;
  --font-family-medium: "Gilroy-Medium", sans-serif;

  --font-h1: 700 60px var(--font-family-bold);
  --font-h2: 700 48px var(--font-family-bold);
  --font-h3: 700 28px var(--font-family-bold);
  --font-body: 500 18px var(--font-family-medium);
  --font-button: 600 18px var(--font-family-semibold);

  /* ---------- Cores ---------- */
  --color-grey: #000000;
  --color-primary: #00a000;
  --color-black: #000001;
  --color-grey-2: #999999;
  --color-white: #ffffff;
  --color-bg-overlay: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  background: none;
  text-decoration: none;
  list-style: none;
  border: none;
  box-sizing: border-box;
}

.btn {
  font: var(--font-button);
  padding: 16px 32px;
  border-radius: 10px;
}

.btn-primary {
  background-color: var(--color-primary);
}

.btn-primary * {
  color: white;
}

.btn-secondary {
  border: 1px solid var(--color-primary);
}

.btn-secondary * {
  color: var(--color-primary);
}
