/* Importação da fonte */
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url("../assets/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
}

:root {
  /* ---------- Tipografia ---------- */
  --font-family-bold: "Gilroy-Bold", sans-serif;
  --font-family-semibold: "Gilroy-Semibold", sans-serif;
  --font-family-medium: "Gilroy-Medium", sans-serif;

  --font-h1: 700 60px var(--font-family-bold);
  --font-h2: 700 48px var(--font-family-bold);
  --font-h3: 700 28px var(--font-family-bold);
  --font-body: 500 18px var(--font-family-medium);
  --font-button: 600 18px var(--font-family-semibold);

  /* ---------- Cores ---------- */
  --color-grey: #000000;
  --color-primary: #00a000;
  --color-black: #000001;
  --color-grey-2: #999999;
  --color-white: #ffffff;
  --color-bg-overlay: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  background: none;
  text-decoration: none;
  list-style: none;
  border: none;
  box-sizing: border-box;
}

body {
  padding: 0 100px;
}

.btn {
  font: var(--font-button);
  padding: 16px 32px;
  border-radius: 10px;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
  transition: 0.3s ease;
}

.btn-primary:hover {
  filter: brightness(1.1);
}

.btn-secondary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  transition: 0.3s ease;
}

.btn-secondary:hover {
  background-color: var(--color-primary);
  color: white;
}

.section-title {
  font: var(--font-h2);
  color: var(--color-black);
  text-align: center;
}

.section-title-2 {
  font: var(--font-h3);
  color: var(--color-black);
  text-align: center;
}
