@import url("./global.css");

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
}

.header-logo img {
  width: 141px;
  height: 33px;
}

.header-nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav ul li a {
  font-family: var(--font-family-medium);
  font-size: 16px;
  color: var(--color-black);
  opacity: 0.6;
  transition: 0.3s ease;
}

.header-nav ul li a:hover {
  color: var(--color-primary);
  opacity: 1;
}

.header-nav ul li .active {
  color: var(--color-primary);
  opacity: 1;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-func-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-func-icons .icon {
  width: 40px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 124px;
  margin-top: 100px;
  padding: 0 100px;
}

.hero .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero .content h1 {
  font: var(--font-h1);
  color: var(--color-black);
}

.hero .content h1 span {
  color: var(--color-primary);
}

.hero .content p {
  font-family: var(--font-family-medium);
  font-size: 18px;
  color: var(--color-black);
  opacity: 0.6;
}

.hero .content .btn-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero .img {
  width: 50%;
}

.hero .img img {
  width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 102px 0 60px 0;
}

.choose-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  background-color: var(--color-bg-overlay);
}

.choose-us .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.choose-us .title-container h2 {
  font-weight: 800;
}

.choose-us .title-container p {
  font-family: var(--font-family-medium);
  font-size: 18px;
  color: var(--color-grey-2);
}

.reasons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.reasons .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  width: 400px;
}

.reasons .card .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.reasons .card .main-content img {
  width: 216px;
  aspect-ratio: 1 / 1;
}

.reasons .card p {
  width: 70%;
}

.stats-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.stats-container .stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 400px;
}

.special-dishes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.special-dishes .card-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.special-dishes .card-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  width: 400px;
}

.special-dishes .card-container .card img {
  width: auto;
  height: 242px;
}

.special-dishes .card-container .card p {
  width: 70%;
}

.special-dishes .card-container .card button {
  width: 88%;
}

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.clients .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.clients .cards {
  display: flex;
  align-items: center;
  gap: 20px;
}

.clients .cards .client {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  padding: 40px;
  width: 400px;
}

.clients .cards .client img {
  width: 100px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.clients .cards .client .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.clients .cards .client:nth-child(3) .content p {
  line-height: 160%;
}

.about-us {
  display: flex;
  gap: 82px;
}

.about-us .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.about-us .content h2 {
  font-size: 40px;
  text-align: start;
}

.about-us .content p {
  text-align: start;
}

.about-us .img {
  width: 50%;
  height: auto;
}

.about-us .img img {
  width: 100%;
  height: auto;
}

.subscribe {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  background-color: var(--color-bg-overlay);
  width: 100%;
}

.subscribe .title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.email-submit {
  display: flex;
  align-items: center;
  gap: 301px;
  background-color: var(--color-white);
  padding: 8px;
  outline: 1px solid #c1c1c1;
  border-radius: 8px;
}

.email-submit input {
  height: 100%;
  padding: 8px 24px 8px 8px;
  outline: none;
  font-family: var(--font-family-medium);
  font-size: 18px;
  color: var(--color-black);
}

.email-submit input::placeholder {
  color: var(--color-black);
}
